body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3 {
  font-weight: bold;  
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
} 

a {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.text-center {
  text-align: center; 
}

.bg-grey {
  background-color: #f7f7f7;
  padding: 20px;
}

.image-center {
  display: block;
  margin: 0 auto 20px;
}